/*
 * Custome css as this will override any changes you make in the 
 * 
 */

.col-xs-12.col-sm-12.col-md-5.col-lg-4.login-area{
    float: none;
    margin: 0 auto;
}

 #tab3 .add_more_image{    border: 1px solid #3276b1;
    color: #3276b1;
    position:absolute; top:0; right:0;
    margin: 25px 25px 0;
    padding: 6px 10px;}
 
 .remove_hotel_price {
    float: left;
    margin-top: 35px;
}

.add_more_price {
    float: left;
    margin-top: 50px;
}

.col-sm-12.alert-message-base {
    float: right;
    width: 84.1%;
}

.country-best-time {
    float: left;
    margin-top: 60px;
}


	
.smart-form section{ margin-bottom:0;}
.smart-form section .input-file{ width:92% !important; float:left;}
section .remove_link{ margin-left:20px; margin-top:4px; }
section .remove_link img{ padding-top:10px;}
#content .btn{ margin:10px;}
.smart-form .label{ padding-top:10px;}
.attract-img{ float:left; width:92%; margin:10px 0;}
.attract-img img{ margin:0 10px 0 0; border:3px solid #fff; outline:1px solid #ccc;}

.parsley-required{ width:100% !important; float:left; color:#FF3300; list-style: none;}



/*Image view css */

.category-img-class{ height:50px;}
 input.seller_edit_mode[type="file"]{ display:none;}
 input.seller_edit_mode[type="text"]{ display:none;}
 a.seller_edit_mode{ display:none;}
 .editable-seller-info tr td{vertical-align:middle !important;}
 .editable-seller-info tr td input{ height:35px; border:1px solid #ccc; border-radius:3px; padding:0px 10px;}
 .editable-seller-info tr td input[type="file"]{ border:none;}
 .editable-seller-info tr td input.seller_edit_mode[type="file"] {
    width: 120px !important;
    height: 35px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    border:none; color:#fff; display:none;
}
div.file-input-seller.seller_edit_mode {
    width: 120px;
    height: 35px;
      background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden; display:none; cursor:pointer; background-size:100%;
}
.enterPassword{height:35px; border:1px solid #ccc; width:100%; padding:5px 6px 6px 12px;}
#confirmPasswordMsg{color:#f00;}
.page-footer {position:fixed;}
#sellerHistoryTable {height:200px; overflow-y:auto; padding:0px 1px;}
#productImagesMsg{color:#f00;}
#image_view > img {
    border: 1px solid #ccc;
    margin: 0 15px 15px;
    padding: 5px;
   
}
.table-bordered1{ margin-bottom:0px;}
#image_view > p{ vertical-align:top; margin-top:0px;  position: relative;
    right: 37px;
    top: -16px; display:inline-block;}
#image_view{ padding:20px 5px 0px;  border: 1px solid #ccc; float: left;
    width: 100%;}
.img-info {
    margin: 10px 0;
}

#image_view  input[type="checkbox"]:not(:checked),
#image_view  input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
#image_view  input[type="checkbox"]:not(:checked) + label,
#image_view  input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
#image_view  input[type="checkbox"]:not(:checked) + label:before,
#image_view  input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #dadadb;
  background: #dadadb;
  border-radius: 3px;

}
/* checked mark aspect */
#image_view  input[type="checkbox"]:not(:checked) + label:after,
#image_view  input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
#image_view  input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
#image_view  input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
#image_view  input[type="checkbox"]:disabled:not(:checked) + label:before,
#image_view  input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
#image_view  input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
#image_view  input[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
#image_view  input[type="checkbox"]:checked:focus + label:before,
#image_view  input[type="checkbox"]:not(:checked):focus + label:before {

}

/* hover style just for information */
#image_view  label:hover:before {

}
.uploadImaagebutton input[type="button"]{ width:200px; background:#1d79cb; height:40px; border:1px solid #1d79cb; border-radius:4px; color:#fff;}


.widget-body .add_more_month {
float: right;
    margin-top: -52px;
    width:0px;
}
.widget-body .delete-row {
    float: right;
    margin-top: -52px;
	width:25px;
}
.widget-body .add_more_month.best-time {
    float: left;
    margin-top: 66px;
}

/**================ 06/07/2016 ==============**/

.add_iteinary {
    border: 1px solid #eee;
    margin: 15px 0;
	background:#f3f2f2;
	padding:10px;

}
.add_iteinary .inline-group{ padding:30px 0 0 30px;}
.tab-pane .padding-10{ padding:10px 10px 0px 0 !important;}
.add_iteinary .row{ margin:0;}
.tab-pane .row{ margin:0;}

.itinery_field_wrapper .add_more_itinery {
    position: absolute;
    right: 10px;
    top: 55px;
	background:#3276b1;
	padding:6px 25px;
	color:#fff;
	border-radius:2px;
}
.add_iteinary #transport{ margin-top:40px;}
.add_iteinary .remove_itinerary{ float:right;}

.select2-container-multi .select2-search-choice-close{ left:inherit !important; padding:0;  top: -3px;}
.select2-search-choice-close::before{ content:"";}
.select2-container-multi .select2-search-choice-close:hover{ background:none;}
.select2-search-choice-close{ min-height:5px;}

.inline-group.food-section {
    margin: 0;
    padding: 50px 0 0;
    width: 100%;
}

.food-section .checkbox{ margin: 0 !important;}
/**================ 06/07/2016 ==============**/